form {
    display: flex;
    flex-wrap: wrap;
}

.box {
    padding-left: 40%;
    padding-right: 40%;
    height: 200px;
}

.style-box {
    margin-top: 16px;
    background: #94613B;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

body {
    margin: 0;
}

.space-aling {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.alinharCentro {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 5px;
}

.align-center {
    display:flex;
    justify-content: center;
}

button {

}

h3 {
    color: black;
    display: flex;
    justify-content: center;
}